{% extends 'users/base.html' %}

	{% block content %}
	{% if not result %}


			<div id="choice_list">
				<h1>{{active_user.username}}'s Game</h1>
				<h2>{{ question_text }}</h2>

				<ul>
					{% for artist in all_artists %}

						<li style="list-style-type:none"><form name="choice_form" action="/trivia/choices/{{artist}}" method="POST">
						{% csrf_token %}
						<input type="submit" value="{{artist}}"></form></li>

					{% endfor %}

				</ul>

	{% else %}
		<div id = "result-div">
			<h1>{{result}}</h1>
			<h1><a href = "/trivia">Keep playing?</a></h1>
		</div>
	{% endif %}

			</div>

    {% endblock %}
