{% extends '/base.html' %}

	{% block body_block %}
        <h1>{{user.username}}'s Game</h1>

            <p> {{ context_dict['question'] }} </p>
                <ul>
                      <li><a href="{{context_dict['choice'][1]}}">{% context_dict['choice'][0] %}</a></li>
                      <li><a href="{{context_dict['choice'][2]}}">{% context_dict['choice'][1] %}</a></li>
                      <li><a href="{{context_dict['choice'][3]}}">{% context_dict['choice'][2] %}</a></li>
                      <li><a href="{{context_dict['choice'][4]}}">{% context_dict['choice'][3] %}</a></li>
             	  </ul>



        {% endblock %}
