header #header{
    font-size:.5em;
    color:black;
    background-color:blue;
    margin:auto;
    height:7em;
    width:80%;
    font-family: Verdana, Geneva, sans-serif;
}

header h1{
    color:white;
    margin-top:2em;
    font-size:2em;
    display: table-cell;
    vertical-align:middle;
}
#header h1 a{
    margin:auto;
    vertical-align:middle;
    color:white;
}

#header ul li a{
    font-family: Verdana, Geneva, sans-serif;
}
#header ul{
    padding: 0;
}

/*#header div {
    margin:.5em auto;
}*/

#header a {
    font-size: 2em;
}

#header #trivia-link a{
    font-weight:bold;
    color:white;
}

#header #submit-link {
    /*float:left;*/
    clear:right;
    font-weight:normal;
}

#header #menu {
    margin-left:.2em;
    margin-top:.5em;
    float:left;
    clear:right;
}

#header #menu div {
    display:inline;
    margin:.1em;
}
#header #user-link{
    float:right;
    font-size:.50em;
    color:white;
}

#header #login-link a{
    float:right;
    margin: .5em .5em;
    color:white;
}

header ul li {
    /*margin-left: 2.5em;*/
    margin-right:1em;
    display: inline-block;
    float:right;
    list-style-type: none;
    font-size: 2em;
    color:white;
}
header p {
    float:right;
    font-size:2em;
    clear: left;
}

h2 {
    font-size: 1em;
}
form {
    margin-top: 2em;
}
#header a {
    color:white;
}

.post-title a{
    color:black;
}
.post-metadata a{
    color:#828282;
}
.domain a{
    color:#828282;
}
a {
    text-decoration: none;
}

ol {
    background-color:#f6f6ef;
    margin:0;
}
.menu p{
    margin-right: 3em;
    display:inline-block;
}

#hn-posts {
    color:#828282;
    width: 80%;
}

#genre-list {
    margin: 0 auto 0 auto;
    width: 85%;
    font-size:2.5em;
}
#genre-list ul li {
    list-style-type: none;
}
